body {
	background-image: url(IMG/fondo.png);
	-webkit-background-size: cover;
 	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-position: center;
  	background-attachment: fixed;
  	background-repeat: no-repeat;
}

#contenedorIndex {
	width: 35em;
	position: absolute;
	left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
	box-shadow: 0 0 2em 0 black;
}

#contenedorIndex label, #contenedorIndex input {
	display: block;
	width: 25em;
	margin: 0 auto;
	box-sizing: border-box;
	text-align: center;
}