body {
	background-image: url(IMG/background.jpg);
	-webkit-background-size: cover;
 	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-position: center;
  	background-attachment: fixed;
  	background-repeat: no-repeat;
  	color: #333;
}
.color-blue {
	color: #25a9b1;
}
.page-header {
	border-bottom: 5px solid #25a9b1;
	margin-bottom: 1em;
}
.vertical-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.jumbotron {
	background-color: white;
	padding: 2em;
}
.btn {
	background-color: #25a9b1;
	font-weight: bold;
	cursor: pointer;
	opacity: 0.8;
}
.bg-333 {
	background-color: #333;
	
}
.col-md-1 {
	padding:1em;
}
.mg-bottom {
	margin-bottom: 1em;
}
.mg-top {
	margin-top: 1em;
}
.btn:hover {
	opacity: 1;
	transition: 0.5s;
}
.btn:disabled {
	opacity: 0.6;
}
.disabled-nd:disabled {
	display: none;
}
.title {
	font-size: 9em;
}
.box-shadow {
	box-shadow: 0 0 1em 0 black;
}
header {
	background-color: white;
}
.navbar-brand {
	font-size: 2em;
	padding-bottom: 0.4em;
}
.navbar-brand span {
	font-weight: bold;
	color: #25a9b1;
}
.nav-link:hover, .active {
	color: #25a9b1!important;
}
.active {
	font-weight: bold;
}
.caja {
	background-color: #fff;
	padding: 1em;
	margin-bottom: 1em;
	border-radius: 1em;
	-webkit-box-shadow: 0px 4px 17px 1px rgba(0,0,0,0.33);
	-moz-box-shadow: 0px 4px 17px 1px rgba(0,0,0,0.33);
	box-shadow: 0px 4px 17px 1px rgba(0,0,0,0.33);
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box; /* Safari */ 
}
nav {
	margin-bottom: 1em;
}
.circle-logo {
	display: inline-block;
	width: 10em;
	height: 10em;
	border-radius: 5em;
	background: url(IMG/logo.svg);
	background-color: #333;
	margin-bottom: 1em;
}
table th {
	background-color: #25a9b1;
	font-weight: bold;
}
td:hover {
	cursor: pointer;
}
.mg-bottom {
	margin-bottom: 0.5em;
}

/* LOGIN */

#formularioLogin {
	margin-top: 3em;
}

/* REALIZAR VOTACIÓN */

#respuestas {
	max-height: 0;
	overflow: hidden;
	transition: 1s;
	margin-top: 1em;
}